<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- AOP 프로그래밍 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- Transaction AOP Proxy-->
    <tx:annotation-driven proxy-target-class="true" />

    <!-- mvc url-resource mapping -->
    <mvc:resources mapping="/assets/upload-images/**" location="file:/Users/jangwoo/Desktop/[62]2024.11.포스코DX09/jblog/mysite-upload/" />

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="defaultCharset">
                    <value>UTF-8</value>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 서블릿 컨테이너의 디폴트 서블릿 위임 핸들러 -->
    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/auth"/>
            <bean class="jblog.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/user/logout"/>
            <bean class="jblog.interceptor.LogoutInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**"/>
            <mvc:exclude-mapping path="/user/auth"/>
            <mvc:exclude-mapping path="/user/logout"/>
            <bean class="jblog.interceptor.AuthorizationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- View Resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="exposedContextBeanNames">
            <list>
                <value>blogTitleFactory</value>
            </list>
        </property>
        <!-- View Resolver 순서 -->
        <!--        <property name="order" value="1"/>-->
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="jblog.*"/>
</beans>